# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
**/paintee-admin/src/main/settings/
**/paintee-mobile/.classpath
**/paintee-admin/.classpath
**/paintee-mobile/.settings
**/paintee-admin/.settings
/node_modules/
