@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.eot');
  src: url('../fonts/Merriweather-Regular.woff') format('woff'),
       url('../fonts/Merriweather-Regular.ttf') format('truetype'),
       url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.eot');
  src: url('../fonts/Merriweather-Bold.woff') format('woff'),
       url('../fonts/Merriweather-Bold.ttf') format('truetype'),
       url('../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Italic.eot');
  src: url('../fonts/Merriweather-Italic.woff') format('woff'),
       url('../fonts/Merriweather-Italic.ttf') format('truetype'),
       url('../fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.woff') format('woff'),
       url('../fonts/Roboto-Light.ttf') format('truetype'),
       url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../fonts/Pacifico-Regular.woff') format('woff'),
       url('../fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico.eot');
  src: url('../fonts/Pacifico.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
